body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f8ff; /* Lichtblauwe achtergrond voor de pagina */
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 20px;
}

canvas {
    border: 2px solid #000;
    background-color: #add8e6;
}

.controls {
    margin-top: 20px;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}
